* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}
.clearfix::after {
  content: '';
  font-size: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
html {
  font-size: 10px;
}
.wrap {
  background-color: #e5e5e5;
  height: auto;
}
.wrap .header {
  height: 10rem;
  background-color: #ff8a00;
  line-height: 10rem;
}
.wrap .header .content1 {
  padding-top: 1.5rem;
  width: 80%;
  margin: 0 auto;
}
.wrap .header .content1 .img1 {
  float: left;
}
.wrap .header .content1 .img2 {
  float: right;
  margin-right: 3rem;
}
.wrap .header .content1 .img3 {
  float: right;
}
.wrap .banner {
  margin-bottom: 2rem;
  position: relative;
}
.wrap .banner .img1 {
  width: 100%;
}
.wrap .banner .wrap {
  background-color: #fff;
  position: absolute;
  bottom: 3rem;
  left: 3.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  margin: 0 auto;
  border: 0.2rem solid #000;
}
.wrap .banner .wrap input {
  width: 90%;
  height: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  border: none;
  margin-left: 1rem;
}
.wrap .theme {
  background-color: #fe8900;
  margin-bottom: 3rem;
}
.wrap .theme .theme-u1 {
  width: 90%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.wrap .theme .theme-u1 li {
  font-size: 3rem;
  width: 25%;
  box-sizing: border-box;
  float: left;
}
.wrap .theme .theme-u1 li p {
  color: #fff;
}
.wrap .banner2 {
  margin-bottom: 3rem;
}
.wrap .banner2 img {
  width: 100%;
}
.wrap .house-detail {
  background-color: #fff;
  margin-bottom: 3rem;
}
.wrap .house-detail .wrap4 {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.wrap .house-detail .wrap4 .detail-h14 {
  font-size: 4rem;
  padding-bottom: 3rem;
  border-bottom: solid 0.1rem #999999;
  margin-bottom: 3rem;
}
.wrap .house-detail .wrap4 .detail-u3 li {
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  border-bottom: solid 0.1rem #999999;
}
.wrap .house-detail .wrap4 .detail-u3 li .img11 {
  float: left;
}
.wrap .house-detail .wrap4 .detail-u3 li .message {
  float: left;
  margin-left: 2rem;
  font-size: 3rem;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p15 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 4.5rem;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p16 {
  margin-bottom: 1rem;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p16 .ss2 {
  color: orange;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .ss1 {
  float: left;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .ss2 {
  float: right;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p18 {
  margin-bottom: 1rem;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p18 span {
  color: #999999;
}
.wrap .house-detail .wrap4 .detail-u3 li .message .p17 a {
  display: inline-block;
  width: 30%;
  height: 5rem;
  border: none;
  text-align: center;
  margin-right: 5rem;
  background-color: #dee9f0;
  color: #849aae;
}
.wrap .house-detail .wrap4 .detail-u3 li .p20 {
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  background-color: #f5f5f5;
  font-size: 3rem;
  font-weight: bold;
  padding: 0rem 0rem 0rem 2rem ;
  margin-top: 1rem;
}
.wrap .house-detail .wrap4 .detail-u3 .l11 {
  text-align: center;
  border: none;
  padding-top: 4rem;
}
.wrap .house-detail .wrap4 .detail-u3 .l11 a {
  color: #999999;
  font-size: 3rem;
}
.wrap .house-detail2 {
  background-color: #fff;
}
.wrap .house-detail2 .detail2-u1 {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.wrap .house-detail2 .detail2-u1 li {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.wrap .house-detail2 .detail2-u1 li span {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.wrap .house-detail2 .detail2-u1 li .s1 {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-size: 4rem;
  color: orange;
}
.wrap .house-detail2 .detail2-u1 li .s2 {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-size: 4rem;
}
.wrap .house-detail2 .detail2-u1 li:nth-child(1) {
  border-bottom: orange solid 0.1rem;
}
.wrap .footer {
  background-color: #2f3130;
  color: #939494;
}
.wrap .footer .f_t {
  width: 95%;
  border-bottom: 0.1rem solid #939494;
  margin: 0 auto;
}
.wrap .footer .f_t span {
  font-weight: bold;
  display: block;
  color: #939494;
  padding: 2rem 0rem 2rem 0rem;
  font-size: 2.3rem;
}
.wrap .footer .f_f {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.wrap .footer .f_f span {
  display: block;
  display: inline-block;
  font-size: 2.3rem;
  color: #939494;
  width: 8rem;
  margin-left: 4rem;
}
.wrap .footer .f_f .ip {
  display: inline-block;
}
.wrap .footer .f_f .and {
  display: inline-block;
  margin-left: 20rem;
}
.wrap .footer .f_f .pp {
  margin-top: 4rem;
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 3rem;
}
.wrap .footer .f_f .pp .pp1 {
  color: #939494;
}
